/* kleurenpallet die ik heb gebruikt */
/* https://www.color-hex.com/color-palette/45290 */
:root {
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --yellow: #ffff00;
  --lightBlue: #00ffff;
  --darkBlue: #0000ff;
  --purple: #ff00ff;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: var(--black);
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
}

h1 {
  color: var(--yellow);
  text-align: center;
  font-size: 5em;
  padding-top: 0.5em;
}

h2 {
  color: var(--red);
  text-align: center;
}

p {
  color: var(--lightBlue);
  background-color: var(--darkBlue);
  /* display: block; */
  margin: 1em 0em 1em 0em;
  padding-left: 1em;
}

#weatherCards > article {
  margin: 1em 1em 20em 1em;
}

a {
  color: var(--darkBlue);
  background-color: var(--lightBlue);
  padding: 0em 1em 0em 1em;
}

#weatherCards {
  display: flex;
}

#detailWeatherCards > article {
  height: 50em;
  width: 40em;
  margin: auto;
}


#detailWeatherCards > article > h2 {
  padding-top: 4em;
}